<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    </head>
    <style>
        .customDiv{
     
        
        min-height: 80px;
        background: pink;
        margin-bottom: 10px;
        }
        
         .customDiv1{
        min-height: 300px;
        background: pink;
        margin-bottom: 10px;
        }
        
    </style>
    <body>
        <h2>WEB PAGE:</h2>
        <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="customDiv"></div>
        </div>
        <div class="col-md-3">
            <div class="customDiv1"></div>
        </div>
        <div class="col-md-6">
            <div class="customDiv1"></div>
        </div>
       <div class="col-md-3">
            <div class="customDiv1"></div>
           
        </div><div class="col-md-12">
            <div class="customDiv"></div>
        </div>

        </div>
        </div>
    </body>
</html>