<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    </head>
    <style>
        .customDiv{
        padding: 15px;
        min-height: 500px;
        background: pink;
        margin-bottom: 10px;
        }
        
        .customDivsub1{
            min-height: 100px;
            background: orange;
            
        }
        
        .customDivsub2{
            min-height: 100px;
            background: orange;
            margin: 10px;
            
        }
    </style>
    <body>
        <div class="container">
        <div class="row">
            <div class="col-md-3">
             <div class="customDiv"></div>
            </div>
        
            <div class="col-md-9">
             <div class="customDiv">
                <div class="container">
                  <div class="row">
                     <div class="col-md">
                         <div class="customDivsub1"></div>
                     </div>
                      
                  </div>
                </div>
                
                <div class="container">
                  <div class="row">
                     <div class="col-md">
                         <div class="customDivsub2"></div>
                     </div>
                      
                     <div class="col-md">
                         <div class="customDivsub2"></div>
                     </div>
                      
                     <div class="col-md">
                         <div class="customDivsub2"></div>
                     </div>
                      
                     <div class="col-md">
                         <div class="customDivsub2"></div>
                     </div>
                      
                  </div>
                </div>
                 
                  <div class="container">
                  <div class="row">
                     <div class="col-md">
                         <div class="customDivsub2"></div>
                     </div>
                      
                     <div class="col-md">
                         <div class="customDivsub2"></div>
                     </div>
                      
                     <div class="col-md">
                         <div class="customDivsub2"></div>
                     </div>
                      
                     
                      
                  </div>
                </div>
             
                 <div class="container">
                  <div class="row">
                     <div class="col-md">
                         <div class="customDivsub2"></div>
                     </div>
                      
                     <div class="col-md">
                         <div class="customDivsub2"></div>
                     </div>
                      
                  </div>
                </div>
                    
             </div>
            </div>
        
       

        </div>
        </div>
    </body>
</html>