<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    </head>
    <style>
        .customDiv{
        padding: 15px;
        min-height: 50px;
        background: pink;
        margin-bottom: 10px;
        }
        
        .customDiv1{
            min-height: 150px;
            background: pink;
        }
        
        .customDiv2{
            min-height: 50px;
            background: pink;
            margin: 10px;
        }
        
        .customDiv3{
            min-height: 50px;
            background: pink;
            margin: 10px;
        }
    </style>
    <body>
        <div class="container">
        <div class="row">
            <div class="col-md-12">
             <div class="customDiv"></div>
            </div>
            
            <div class="container">
             <div class="row">
               <div class="col-md-8">
                 <div class="customDiv1"></div>
               </div>
                 <div class="col-md-4">
                  <div class="customDiv1"></div>
                 </div>
                 
            </div>
            </div>
            
            <div class="container">
             <div class="row">
               <div class="col-md">
                 <div class="customDiv2"></div>
               </div>
                 
                 <div class="col-md">
                  <div class="customDiv2"></div>
                 </div>
                 
                 <div class="col-md">
                  <div class="customDiv2"></div>
                 </div>
                 
                 <div class="col-md">
                  <div class="customDiv2"></div>
                 </div>
                 
            </div>
            </div>
        
            <div class="container">
             <div class="row">
               <div class="col-md">
                 <div class="customDiv3"></div>
               </div>
                 
                 <div class="col-md">
                  <div class="customDiv3"></div>
                 </div>
                 
                 <div class="col-md">
                  <div class="customDiv3"></div>
                 </div>
                 
                 <div class="col-md">
                  <div class="customDiv3"></div>
                 </div>
                 
                 <div class="col-md">
                  <div class="customDiv3"></div>
                 </div>
                 
                 <div class="col-md">
                  <div class="customDiv3"></div>
                 </div>
                 
            </div>
            </div>
       
            <div class="col-md-12">
             <div class="customDiv"></div>
            </div>

        </div>
        </div>
    </body>
</html>